# Development / Config
.github/
RustBackend/
.vscode/
.vscode-test/
.gitignore
.yarnrc
vsc-extension-quickstart.md
webpack.config.js
tsconfig.json
eslint.config.mjs
tailwind.config.js
postcss.config.js
webview.js
.vscode-test.mjs
bin/README.md

# Source Code (VS Code compiles this into /dist)
src/
**/*.ts
**/*.tsx
**/*.map

# Build Artifacts to IGNORE
node_modules/
out/

# --- CRITICAL: THE RUST BINARIES ---
# Ensure the bin folder is ALWAYS included
!bin/
!bin/*